### <center><div class='alert alert-info'>Numpy</div></center>

In [1]:
import numpy as np

In [2]:
lst = ['Jayesh Raghuvanshi', 'Raj Raghuvanshi', 1,12,123,1234]

In [3]:
type(lst)

list

In [4]:
np.array(lst)

array(['Jayesh Raghuvanshi', 'Raj Raghuvanshi', '1', '12', '123', '1234'],
      dtype='<U18')

In [5]:
type(np.array(lst))

numpy.ndarray

In [6]:
np.array([1,2,3,4,5.6])

array([1. , 2. , 3. , 4. , 5.6])

In [7]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [8]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [9]:
a[1][2]

6

In [10]:
b=np.array([1,2,3,4,5,6], ndmin=4)

In [11]:
b[0][0][0][0]

1

In [12]:
np.asarray([1,2,3,4])

array([1, 2, 3, 4])

In [13]:
np.asanyarray([1,2,3,4])

array([1, 2, 3, 4])

In [14]:
np.mat([1,2,3,4])

matrix([[1, 2, 3, 4]])

`matrix` return atleast a 2d array

In [15]:
np.fromfunction(lambda i, j: i==j, (4,4))

array([[ True, False, False, False],
       [False,  True, False, False],
       [False, False,  True, False],
       [False, False, False,  True]])

In [16]:
 np.fromfunction(lambda i, j: i*j, (5,6))

array([[ 0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  2.,  3.,  4.,  5.],
       [ 0.,  2.,  4.,  6.,  8., 10.],
       [ 0.,  3.,  6.,  9., 12., 15.],
       [ 0.,  4.,  8., 12., 16., 20.]])

In [17]:
 np.fromfunction(lambda i, j: i*j, (5,6), dtype=int)

array([[ 0,  0,  0,  0,  0,  0],
       [ 0,  1,  2,  3,  4,  5],
       [ 0,  2,  4,  6,  8, 10],
       [ 0,  3,  6,  9, 12, 15],
       [ 0,  4,  8, 12, 16, 20]])

In [18]:
np.fromfunction(lambda i, j, k:i*j*k, (3,3,2), dtype=int)

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

`(3,3,2)` -> 3 matrix of (3,2)

In [19]:
np.fromfunction(lambda i, j, k, l:i*j*k*l, (5,3,3,2), dtype=int)

array([[[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  0],
         [ 0,  0]]],


       [[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  1],
         [ 0,  2]],

        [[ 0,  0],
         [ 0,  2],
         [ 0,  4]]],


       [[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  2],
         [ 0,  4]],

        [[ 0,  0],
         [ 0,  4],
         [ 0,  8]]],


       [[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  3],
         [ 0,  6]],

        [[ 0,  0],
         [ 0,  6],
         [ 0, 12]]],


       [[[ 0,  0],
         [ 0,  0],
         [ 0,  0]],

        [[ 0,  0],
         [ 0,  4],
         [ 0,  8]],

        [[ 0,  0],
         [ 0,  8],
         [ 0, 16]]]])

`(5,3,3,2)` `5->combination` of `3 arrays` of shape `(3,2)`

In [20]:
b.ndim

4

In [21]:
b.size

6

In [22]:
b.shape

(1, 1, 1, 6)

In [23]:
b.dtype

dtype('int32')

In [24]:
import pandas as pd

In [25]:
pd.DataFrame(a)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [26]:
c = np.fromfunction(lambda i,j: i*j, (400,100), dtype=int)

In [27]:
c

array([[    0,     0,     0, ...,     0,     0,     0],
       [    0,     1,     2, ...,    97,    98,    99],
       [    0,     2,     4, ...,   194,   196,   198],
       ...,
       [    0,   397,   794, ..., 38509, 38906, 39303],
       [    0,   398,   796, ..., 38606, 39004, 39402],
       [    0,   399,   798, ..., 38703, 39102, 39501]])

In [28]:
pd.DataFrame(c)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
2,0,2,4,6,8,10,12,14,16,18,...,180,182,184,186,188,190,192,194,196,198
3,0,3,6,9,12,15,18,21,24,27,...,270,273,276,279,282,285,288,291,294,297
4,0,4,8,12,16,20,24,28,32,36,...,360,364,368,372,376,380,384,388,392,396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,395,790,1185,1580,1975,2370,2765,3160,3555,...,35550,35945,36340,36735,37130,37525,37920,38315,38710,39105
396,0,396,792,1188,1584,1980,2376,2772,3168,3564,...,35640,36036,36432,36828,37224,37620,38016,38412,38808,39204
397,0,397,794,1191,1588,1985,2382,2779,3176,3573,...,35730,36127,36524,36921,37318,37715,38112,38509,38906,39303
398,0,398,796,1194,1592,1990,2388,2786,3184,3582,...,35820,36218,36616,37014,37412,37810,38208,38606,39004,39402
399,0,399,798,1197,1596,1995,2394,2793,3192,3591,...,35910,36309,36708,37107,37506,37905,38304,38703,39102,39501

In [29]:
np.random.randint(4,10,6)

array([5, 5, 7, 5, 5, 4])

In [30]:
np.random.rand(10,20)

array([[0.16640053, 0.35846706, 0.05881956, 0.41101566, 0.41882817,
        0.18918699, 0.85062532, 0.76503294, 0.94706873, 0.38652191,
        0.87727682, 0.07971424, 0.04429824, 0.78954892, 0.13112749,
        0.83223279, 0.23604573, 0.07328273, 0.862082  , 0.74945378],
       [0.87055287, 0.63767284, 0.66493051, 0.29802732, 0.85147204,
        0.80491939, 0.97384657, 0.45817959, 0.13268521, 0.2581696 ,
        0.65337412, 0.33000175, 0.9756748 , 0.58121348, 0.55455664,
        0.45807662, 0.31446725, 0.96813577, 0.24787732, 0.27611171],
       [0.69601483, 0.56203433, 0.42094188, 0.39274493, 0.54626264,
        0.77784449, 0.62562762, 0.10986644, 0.56478478, 0.71002028,
        0.5312321 , 0.59913547, 0.16188117, 0.39025111, 0.21494237,
        0.42422933, 0.51146945, 0.03407792, 0.52164886, 0.94199339],
       [0.17071793, 0.0877121 , 0.0134696 , 0.84877073, 0.33318209,
        0.71006265, 0.70529987, 0.85158239, 0.44442697, 0.00428321,
        0.26678345, 0.52951763, 0.21488554, 0.86756689, 0.5490118 ,
        0.80692761, 0.04774812, 0.22488129, 0.43167885, 0.73056594],
       [0.5950269 , 0.26956149, 0.36524685, 0.10699145, 0.43202234,
        0.80832254, 0.15809237, 0.56828409, 0.86306005, 0.06237669,
        0.85400836, 0.89789614, 0.13091285, 0.99726263, 0.5489839 ,
        0.65871515, 0.80444328, 0.57803956, 0.55467844, 0.75266524],
       [0.44460958, 0.19293377, 0.07852572, 0.29438322, 0.26149687,
        0.46721002, 0.77203479, 0.58041602, 0.72325509, 0.46452189,
        0.02072979, 0.0384146 , 0.61889636, 0.54050485, 0.45215859,
        0.17597953, 0.71685197, 0.91639478, 0.65644466, 0.16272849],
       [0.40981402, 0.44023479, 0.14387012, 0.58034334, 0.17013355,
        0.28255597, 0.76385417, 0.59399907, 0.41181638, 0.0064833 ,
        0.3984093 , 0.31916482, 0.49479764, 0.35847463, 0.53351737,
        0.71369246, 0.65656271, 0.07033173, 0.12589372, 0.7797822 ],
       [0.475469  , 0.53204576, 0.82683365, 0.95143186, 0.69779611,
        0.5479378 , 0.58305755, 0.6755451 , 0.33237399, 0.11893708,
        0.45612273, 0.64301643, 0.10026128, 0.51619224, 0.13556415,
        0.03166747, 0.5431138 , 0.53627137, 0.5674299 , 0.78304091],
       [0.14998681, 0.44828382, 0.52262779, 0.27187159, 0.26044079,
        0.30538671, 0.71937982, 0.13811642, 0.08489252, 0.04316324,
        0.76148287, 0.18991863, 0.78487129, 0.27793146, 0.74529076,
        0.11821463, 0.82852476, 0.50603884, 0.99205712, 0.90916976],
       [0.61575914, 0.39609985, 0.56984273, 0.7170259 , 0.96018984,
        0.23076449, 0.68339129, 0.40719453, 0.47521992, 0.00795313,
        0.23422058, 0.52184218, 0.73772947, 0.50285293, 0.9049288 ,
        0.66362018, 0.26948716, 0.87836569, 0.35943631, 0.15718885]])

In [31]:
pd.DataFrame(np.random.rand(5,8))

,0,1,2,3,4,5,6,7
0,0.914568,0.294267,0.475561,0.613736,0.415333,0.520456,0.711203,0.912431
1,0.379817,0.703621,0.311191,0.867891,0.813736,0.694256,0.311108,0.673387
2,0.127913,0.689734,0.217982,0.493380,0.252644,0.519467,0.627688,0.857805
3,0.918894,0.050476,0.569393,0.476216,0.626918,0.250850,0.154001,0.910088
4,0.046747,0.007329,0.153403,0.398834,0.937137,0.062997,0.993876,0.573241

In [32]:
d = b.reshape(3,2)

In [33]:
pd.DataFrame(d)

   0  1
0  1  2
1  3  4
2  5  6

In [34]:
b.reshape(2,-1) #any negative number here will give the default which 2*x be 4

array([[1, 2, 3],
       [4, 5, 6]])

In [35]:
np.arange(1,10,0.5)

array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. , 6.5, 7. ,
       7.5, 8. , 8.5, 9. , 9.5])

list(range(1,10,0.5) ->will not work

In [36]:
arr = np.random.rand(4,5)
arr

array([[0.20656857, 0.84945066, 0.04954185, 0.87975366, 0.56877909],
       [0.99889475, 0.97088291, 0.0429726 , 0.45665816, 0.27815424],
       [0.69251727, 0.50183943, 0.38640824, 0.10186602, 0.53897029],
       [0.4039017 , 0.22984631, 0.40142965, 0.84516287, 0.97409406]])

In [37]:
arr>5

array([[False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False]])

In [38]:
arr[arr>0.6]

array([0.84945066, 0.87975366, 0.99889475, 0.97088291, 0.69251727,
       0.84516287, 0.97409406])

In [39]:
a=np.array([[1,2],[4,5]])
b=np.array([[1,2],[4,5]])

In [40]:
a@b

array([[ 9, 12],
       [24, 33]])

In [41]:
a.dot(b)

array([[ 9, 12],
       [24, 33]])

In [42]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [43]:
np.ones((4,7),dtype=int)

array([[1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1]])

In [44]:
7+np.ones(5, dtype=int)

array([8, 8, 8, 8, 8])

In [45]:
np.empty((4,5))

array([[0.20656857, 0.84945066, 0.04954185, 0.87975366, 0.56877909],
       [0.99889475, 0.97088291, 0.0429726 , 0.45665816, 0.27815424],
       [0.69251727, 0.50183943, 0.38640824, 0.10186602, 0.53897029],
       [0.4039017 , 0.22984631, 0.40142965, 0.84516287, 0.97409406]])

In [46]:
np.linspace(2,6)

array([2.        , 2.08163265, 2.16326531, 2.24489796, 2.32653061,
       2.40816327, 2.48979592, 2.57142857, 2.65306122, 2.73469388,
       2.81632653, 2.89795918, 2.97959184, 3.06122449, 3.14285714,
       3.2244898 , 3.30612245, 3.3877551 , 3.46938776, 3.55102041,
       3.63265306, 3.71428571, 3.79591837, 3.87755102, 3.95918367,
       4.04081633, 4.12244898, 4.20408163, 4.28571429, 4.36734694,
       4.44897959, 4.53061224, 4.6122449 , 4.69387755, 4.7755102 ,
       4.85714286, 4.93877551, 5.02040816, 5.10204082, 5.18367347,
       5.26530612, 5.34693878, 5.42857143, 5.51020408, 5.59183673,
       5.67346939, 5.75510204, 5.83673469, 5.91836735, 6.        ])

In [47]:
np.linspace(2,6,10)

array([2.        , 2.44444444, 2.88888889, 3.33333333, 3.77777778,
       4.22222222, 4.66666667, 5.11111111, 5.55555556, 6.        ])

In [48]:
np.linspace(2,6,10, endpoint=False).reshape(5,2)

array([[2. , 2.4],
       [2.8, 3.2],
       [3.6, 4. ],
       [4.4, 4.8],
       [5.2, 5.6]])

In [49]:
np.linspace(2,6,10, endpoint=False,retstep=True)

(array([2. , 2.4, 2.8, 3.2, 3.6, 4. , 4.4, 4.8, 5.2, 5.6]), 0.4)

`retstep=True` > will show the stepsize

In [50]:
np.logspace(2,3,10, base=10)

array([ 100.        ,  129.1549665 ,  166.81005372,  215.443469  ,
        278.25594022,  359.38136638,  464.15888336,  599.48425032,
        774.26368268, 1000.        ])

In [51]:
a = np.array([1,2,3,4,5])

In [52]:
b=a

In [53]:
id(a), id(b)

(2101399158832, 2101399158832)

In [54]:
c=np.copy(a)

In [55]:
id(a), id(b), id(c)

(2101399158832, 2101399158832, 2101415404144)